.custom-bg{
	background:#4a148c;
}

.admin .card{
	border: 1px solid black;
}

.admin .card:hover{
	background:cyan;
}


.list-group-item.active{
	background:#4a148c;
}

.discount-label{
	font-size: 10px;
	font-style:italic;
}

.product-card:hover{
	background:cyan;
}




.pquantity-input {
    width: 50px;
    text-align: center;
}


